.date {
    color: gray;

    i {
        font-size: large;
    }
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .item {
        padding: 10px 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        max-width: 200px;
        font-weight: bold;
    
        .count {
            color: orange;
        }
    }
}

.btn-save {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: smaller;
}

.btn-cancel {
    font-size: smaller;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
}
