<div class="main d-flex justify-content-center align-items-center">
  <div class="register d-flex flex-column align-items-center justify-content-around">
    <h1>Registrarse</h1>
    <form class="w-75 d-flex flex-column gap-3" [formGroup]="formGroup">
      <div class="d-flex align-items-center gap-1">
        <mat-form-field class="example-full-width w-100" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center gap-1">
        <mat-form-field class="example-full-width w-100" appearance="fill">
          <mat-label>Nombre de usuario</mat-label>
          <input matInput formControlName="userName" />
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center gap-1">
        <mat-form-field class="example-full-width w-100" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </div>
    </form>

    <button (click)="register()" [disabled]="formGroup.invalid || loading">
      {{ !loading ? 'Aceptar' : 'Cargando...'}}
    </button>
  </div>
</div>