.main {
    .items {
        width: 55%;

        .title {
            height: 15%;
        }

        .products {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1.5rem;
        }
    }

    .right-side {

        width: 25%;
    }


}