.main {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;

  .mark {
    height: 35px;
    width: 3px;
    border-radius: 2px;
    background-color: orange;
  }

  .header {
    height: 25%;
    width: 100%;

    .heart {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-color: #3f3d56;

      i {
        color: orange;
        font-size: x-large;
      }
    }
  }

  .menu {
    height: 50%;
    width: 100%;

    // .items,
    // .history,
    // .stats {
    //   // gap: 20px;
    // }
    i {
      margin: 0 1rem;
    }
  }

  .footer {
    height: 25%;
    width: 100%;

    .buy {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-color: orange;
      i {
        color: white;
        font-size: x-large;
      }
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
  .main {
    // height: 100vh;
    // position: fixed;
    // width: 20%;
    span {
      display: none;
    }
    .heart, .buy {
      i {
        font-size: medium;
      }
    }
  }

}