<div class="main">
  <div class="header d-flex justify-content-center align-items-center">
    <div class="heart d-flex justify-content-center align-items-center">
      <i class="fa-solid fa-heart"></i>
    </div>
  </div>

  <div class="menu d-flex flex-column justify-content-around">
    <div class="items d-flex align-items-center" (click)="goTo('items')">
      <div class="mark" *ngIf="menuSelected === 1"></div>
      <i class="fa-solid fa-list"></i>
      <span>Items</span> 
    </div>

    <div class="history d-flex align-items-center" (click)="goTo('historial')">
      <div class="mark" *ngIf="menuSelected === 2"></div>
      <i class="fa-solid fa-arrow-rotate-left"></i>
      <span>Historial</span> 
      
    </div>

    <div class="stats d-flex align-items-center" (click)="goTo('stats')">
      <div class="mark" *ngIf="menuSelected === 3"></div>
      <i class="fa-solid fa-chart-line"></i>
      <span>Estadisticas</span> 
      
    </div>
  </div>

  <div class="footer d-flex justify-content-center align-items-center">
    <div class="buy d-flex justify-content-center align-items-center">
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
  </div>
</div>
