<div class="main h-100 w-100">
  <div class="title d-flex align-items-center">
    <h1>Agregar producto</h1>
  </div>

  <form class="d-flex flex-column justify-content-between" [formGroup]="form">
    <mat-form-field class="example-full-width w-100" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder="Descripción del producto..." formControlName="description" ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width w-100" appearance="fill">
      <mat-label>Imágen</mat-label>
      <input matInput formControlName="image" />
    </mat-form-field>

    <div class="d-flex align-items-center">
      <mat-form-field class="example-full-width w-100" appearance="fill">
        <mat-label>Categoria</mat-label>
        <input type="text"
            placeholder="Elegir uno"
            aria-label="Number"
            matInput
            formControlName="categoryId"
            [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of categories" [value]="option.name">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      <mat-icon (click)="openDialog()">add_circle</mat-icon>

    </div>
      
  </form>

  <div class="buttons d-flex gap-3 justify-content-center align-items-center">
    <button class="btn-cancel" (click)="cancelAction()">Cancelar</button>
    <button class="btn-save" (click)="addOne()" [disabled]="form.invalid">Guardar</button>
  </div>
</div>