<div class="main w-100 h-100 d-flex flex-column justify-content-between">
  <div class="add d-flex justify-content-around align-items-center p-1">
    <!-- <div class="h-100  d-flex align-items-center">

      <i style="font-size: 5rem;" class="fa-solid fa-wine-bottle"></i>
    </div> -->
    <div class="d-flex flex-column justify-content-around align-items-center">
      <h3 class="text-center">No encontras algún producto?</h3>
      <button class="btn-add">Agregar</button>
    </div>
  </div>

  <div class="title d-flex justify-content-between align-items-center">
    <span>Titulo de la lista</span>
    <i class="fa-solid fa-pencil"></i>
  </div>

  <div class="list h-50">
    <div>
      <div class="category pb-4">
        <small>Fruta - verdura</small>
      </div>
      <div class="item d-flex align-items-center justify-content-between pb-4">
        <span>Tomate</span>
        <div class="count d-flex justify-content-around align-items-center">
          <i class="fa-solid fa-minus"></i>
          <span>1</span>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="item d-flex align-items-center justify-content-between pb-4">
        <span>Tomate</span>
        <div class="count d-flex justify-content-around align-items-center">
          <i class="fa-solid fa-minus"></i>
          <span>1</span>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="item d-flex align-items-center justify-content-between pb-4">
        <span>Tomate</span>
        <div class="count d-flex justify-content-around align-items-center">
          <i class="fa-solid fa-minus"></i>
          <span>1</span>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="item d-flex align-items-center justify-content-between pb-4">
        <span>Tomate</span>
        <div class="count d-flex justify-content-around align-items-center">
          <i class="fa-solid fa-minus"></i>
          <span>1</span>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="item d-flex align-items-center justify-content-between pb-4">
        <span>Tomate</span>
        <div class="count d-flex justify-content-around align-items-center">
          <i class="fa-solid fa-minus"></i>
          <span>1</span>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="item d-flex align-items-center justify-content-between pb-4">
        <span>Tomate</span>
        <div class="count d-flex justify-content-around align-items-center">
          <i class="fa-solid fa-minus"></i>
          <span>1</span>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="item d-flex align-items-center justify-content-between pb-4">
        <span>Tomate</span>
        <div class="count d-flex justify-content-around align-items-center">
          <i class="fa-solid fa-minus"></i>
          <span>1</span>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      
    </div>
    
      
  </div>

  <div class="save d-flex align-items-center justify-content-center">
    <button class="btn-save">Guardar</button>
  </div>
</div>
