.main {

    .content {
        width: 85%;
        
        .lists {
            width: 70%;
            // height: 100%;
            // overflow: auto;
            .title {
                height: 15%;
            }

            .list {
                .list-info {
                    .info {
                        i {
                            font-size: large;
                        }
                        .arrow {
                            color: orange;
                        }
                        .date {
                            color: gray;
                        }

                        .status {
                            border: 1px solid;
                            padding: 5px;
                            border-radius: 10px;
                        }

                        .in-progress {
                            border-color: rgb(114, 211, 114);
                            color: rgb(114, 211, 114);
                        }

                        .cancelled {
                            border-color: red;
                            color: red;
                        }

                        .completed {
                            border-color: aqua;
                            color: aqua;
                        }
                    }
                }
            }
        }

        .right-side {
           
            width: 30%;
        }
    }
}

@media screen and (min-width: 801px) and (max-width: 1115px) {
    .main {
        .content {

            .lists {
                width: 65%;
            }
    
            .right-side {
                width: 35%;
            }
        }
    }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
    .main {
        display: flex;
        

        .content {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            .right-side {
                width: 100%;
                // padding: 2rem;

                // padding-left: 1.5rem;
            }
        
            .lists {
                overflow: unset;
                // display: flex;
                // align-items: center;
                width: 100%;
                
                // padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                // padding-left: 2rem;
                // padding-right: 2rem;
                .date-title {
                    display: flex;
                    justify-content: center;
                    
                }

                .list-info {
                    display: flex;
                    flex-direction: column;
                    .name {
                        padding-bottom: 1rem;
                    }
                    .info {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .title {
                    display: flex;
                    justify-content: center;
                    h1 {
                        text-align: center;
                    }
                }
                // .list {
                //     .category {
                //         width: 100%;
                //         display: flex;
                //         justify-content: flex-start;
                //     }   
                //     display: flex;
                //     flex-direction: column;
                //     // align-items: center;
                // }
            }
        }
    
    }
}
